{% extends "base.html" %}

{% block content_wol %}
    <div class="roomwrapper">
        <div id="U5" class="roomlight">
            <div class="room">
                <h1>U5</h2>
            </div>
        </div>
    </div>
    <div class="roomwrapper">
        <div id="U4" class="roomlight">
            <div class="room" class="wol">
                <h1>U4</h2>
                <table style="width:100%;"><tr>
{% for pc in pcs_u4 %}
    {% if pc.name == 'tr09' or pc.name == 'tr11' or pc.name == 'tr13' or pc.name == 'tr15' %}</tr><tr>{% endif %}
                   <td><a href="/wol/{{pc.name}}" title="{{pc.name}}"><b>{{pc.name}}:</b><img alt="{{pc.pos}}" title="{{pc.pos}}" src="/static/images/wol_{{pc.status}}.png"></a></td>
{% endfor %}
                </tr></table>
            </div>
        </div>
    </div>
    <div class="roomwrapper">
        <div id="U3" class="roomlight">
            <div class="room" class="wol">
                <h1>U3</h2>
                <table style="width:100%;"><tr>
{% for pc in pcs_u3 %}
    {% if pc.name == 'tr03' or pc.name == 'tr05' or pc.name == 'tr07' or pc.name == 'tr09' %}</tr><tr>{% endif %}
                   <td><a href="/wol/{{pc.name}}" title="{{pc.name}}"><b>{{pc.name}}:</b><img alt="{{pc.pos}}" title="{{pc.pos}}" src="/static/images/wol_{{pc.status}}.png"></a></td>
{% endfor %}
                </tr></table>
            </div>
        </div>
    </div>
    <div class="roomwrapper">
        <div id="U2" class="roomlight">
            <div class="room">
                <h1>U2</h2>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="roomwrapper">
        <div id="U5" class="roomlight">
            <div class="room">
                <h1>U5</h2>
                <div style="padding-bottom:10px; border:1px solid black">
                    <h5>Lights at corridor:</h5>
                    <div id="lights51" class="buttonset">
                        <input type="radio" id="lights51_on" name="lights51" href="/U5/light/set/1/1/" class="lightswitch" /><label for="lights51_on">On</label>
                        <input type="radio" id="lights51_off" name="lights51" href="/U5/light/set/1/0/" class="lightswitch" /><label for="lights51_off">Off</label>
                    </div>
                </div>
                <div style="padding-bottom:10px; border:1px solid black">
                    <h5>Lights at window:</h5>
                    <div id="lights52" class="buttonset">
                        <input type="radio" id="lights52_on" name="lights52" href="/U5/light/set/2/1/" class="lightswitch" /><label for="lights52_on">On</label>
                        <input type="radio" id="lights52_off" name="lights52" href="/U5/light/set/2/0/" class="lightswitch" /><label for="lights52_off">Off</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="roomwrapper">
        <div id="U4" class="roomlight">
            <div class="room">
                <h1>U4</h2>
                <div style="padding-bottom:10px; border:1px solid black">
                    <h5>Lights:</h5>
                    <div id="lights41" class="buttonset">
                        <input type="radio" id="lights41_on" name="lights41" href="/U4/light/set/1/1/" class="lightswitch" /><label for="lights41_on">On</label>
                        <input type="radio" id="lights41_off" name="lights41" href="/U4/light/set/1/0/" class="lightswitch" /><label for="lights41_off">Off</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="roomwrapper">
        <div id="U3" class="roomlight">
            <div class="room">
                <h1>U3</h2>
                <div style="padding-bottom:10px; border:1px solid black">
                    <h5>Lights:</h5>
                    <div id="lights31" class="buttonset">
                        <input type="radio" id="lights31_on" name="lights31" href="/U3/light/set/1/1/" class="lightswitch" /><label for="lights31_on">On</label>
                        <input type="radio" id="lights31_off" name="lights31" href="/U3/light/set/1/0/" class="lightswitch" /><label for="lights31_off">Off</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="roomwrapper">
        <div id="U2" class="roomlight">
            <div class="room">
                <h1>U2</h2>
                <div id="cp2" style="margin-bottom:30px">
                    <input id="minicp" />
                </div>
                <div style="margin-top:20px; padding-bottom:10px; border:1px solid black">
                    <h5>Sides to set:</h5>
                    <div id="sides" class="buttonset">
                        <input type="checkbox" id="left" checked /><label for="left">left</label>
                        <input type="checkbox" id="top" checked /><label for="top">top</label>
                        <input type="checkbox" id="bottom" checked /><label for="bottom">bottom</label>
                        <input type="checkbox" id="right" checked /><label for="right">right</label>
                    </div>
                </div>
                <div style="padding-bottom:10px; border:1px solid black">
                    <h5>Cold lights:</h5>
                    <div id="warmlights" class="buttonset">
                        <input type="radio" id="warmlights_on" name="warmlights" href="/U2/light/set/1/1/" class="lightswitch" /><label for="warmlights_on">On</label>
                        <input type="radio" id="warmlights_off" name="warmlights" href="/U2/light/set/1/0/" class="lightswitch" /><label for="warmlights_off">Off</label>
                    </div>
                </div>
                <div style="padding-bottom:10px; border:1px solid black">
                    <h5>Even colder lights:</h5>
                    <div id="coldlights" class="buttonset">
                        <input type="radio" id="coldlights_on" name="coldlights" href="/U2/light/set/2/1/" class="lightswitch" /><label for="coldlights_on">On</label>
                        <input type="radio" id="coldlights_off" name="coldlights" href="/U2/light/set/2/0/" class="lightswitch" /><label for="coldlights_off">Off</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block readyscripts %}
<script>
function setColorRGB(hex, opacity) {
    rgbObject = $('#minicp').minicolors('rgbObject');
    leds = 0;
    if($('#U2 #top').is(':checked'))
        leds += 1
    if($('#U2 #right').is(':checked'))
        leds += 2
    if($('#U2 #bottom').is(':checked'))
        leds += 4
    if($('#U2 #left').is(':checked'))
        leds += 8
    $.post('/U2/LED/rgb/set/'+leds+'/'+rgbObject.r+'/'+rgbObject.g+'/'+rgbObject.b);
    $('#result').show();
}
$('#minicp').minicolors({
    //animationSpeed: 100,
    //animationEasing: 'swing',
    change: setColorRGB,
    changeDelay: 0,
    control: 'wheel',
    //defaultValue: '',
    //hide: null,
    //hideSpeed: 100,
    inline: true,
    //letterCase: 'lowercase',
    //opacity: false,
    //position: 'default',
    //show: null,
    //showSpeed: 100,
    //swatchPosition: 'left',
    //textfield: true,
    theme: 'bootstrap'
});

function poll_color() {
    for(led=1; led<=4; led++) {
        $.ajax({
            url: '/U2/LED/rgb/get/'+led+'/'
        }).done( 
        (function( led, data ) {
            r = ('00'+data.red.toString(16)).substr(-2)
            g = ('00'+data.green.toString(16)).substr(-2)
            b = ('00'+data.blue.toString(16)).substr(-2)
            side = 'default';
            switch(led) {
                case 1:
                    side = 'top';
                    break;
                case 2:
                    side = 'right';
                    break;
                case 3:
                    side = 'bottom';
                    break;
                case 4:
                    side = 'left';
                    break;
            }
            $('#U2').css('border-'+side+'-color', '#'+r+g+b);
        }).bind(this,led)
        ).always((function( led ) { if(led == 4) setTimeout('poll_color()', 1000); }).bind(this,led));
    }
}

function init_rooms() {
    $('.buttonset').buttonset();
    $('.lightswitch').click(
        function (event) {
            $.ajax({
                url: $(this).attr('href')
            });
        }
    );
    
    $.get('/lights/get/', function(data) {
        data = data.state;
        if( (data & 64) > 0)  //u21
            $('#warmlights_on').attr("checked","checked");
        else
            $('#warmlights_off').attr("checked","checked");

        if ( (data & 128) > 0) //u22
            $('#coldlights_on').attr("checked","checked");
        else
            $('#coldlights_off').attr("checked","checked");

        if ( (data & 32) > 0) //u3
            $('#lights31_on').attr("checked","checked");
        else
            $('#lights31_off').attr("checked","checked");

        if ( (data & 4) > 0) //u4
            $('#lights41_on').attr("checked","checked");
        else
            $('#lights41_off').attr("checked","checked");

        if ( (data & 16) > 0) //u51
            $('#lights51_on').attr("checked","checked");
        else
            $('#lights51_off').attr("checked","checked");

        if ( (data & 8) > 0) //u52
            $('#lights52_on').attr("checked","checked");
        else
            $('#lights52_off').attr("checked","checked");
            
        $('#coldlights').buttonset("refresh");
        $('#warmlights').buttonset("refresh");
        $('#lights31').buttonset("refresh");
        $('#lights41').buttonset("refresh");
        $('#lights51').buttonset("refresh");
        $('#lights52').buttonset("refresh");
    });
    
}

$(function() {
    //poll_color();
    init_rooms();
});
</script>
{% endblock %}
