body {
    text-align: center;
}

.wrapper {
    text-align: center;
}

.roomwrapper {
    border: 1px black solid;
    margin: 30px;
    padding: 0px;
    width: 350px;
    float: left;
}

.roomwrapper:after {
    clear: both;
}

.roomlight {
    margin: 0px;
    padding: 0px;
    border: 20px black solid;
}

.room {
    text-align: center;
    height: 500px;
    margin: 0px;
    padding: 10px;
    border: 1px black solid;
}
