body {
    text-align: center;
}

.wrapper {
    text-align: center;
}


.roomwrapper {
    border: 1px black solid;
    margin: 30px;
    padding: 0px;
    width: 400px;
    float: left;
}

.ui-button {
    height: 30px;
    width: 50px;
}

.room {
    text-align: center;
    height: 550px;
    margin: 0px;
    padding: 10px;
    border: 1px black solid;
}

.roomwrapper:after {
    clear: both;
}

.roomlight {
    margin: 0px;
    padding: 0px;
    border: 20px black solid;
}

